body {
  background-color: #e2d8c9;
}

.logo {
  width: 2em;
  height: 2em;
}
.image-header {
  background-size: cover;
  max-height: auto;

  width: 100%;
  background-size: 100% 100%;

  background-repeat: no-repeat;
}
.image-footer {
  background-size: cover;
  max-height: auto;
  background-size: 100% 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-repeat: no-repeat;
}
.footer-text {
  position: fixed;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: small;
}

/* Home page css properties */
.vertical {
  border-left: 10px solid #30323c;
  height: 90px;
  position: absolute;
  left: 5%;

  margin-left: -3px;
  padding-left: 25px;
  font-size: x-large;
  font-family: "Crimson Text", serif;
  padding-right: 10px;
}
.verticaltext {
  color: #c46c2a;
}
.hometext {
  padding-left: 5%;
  margin-top: 9em;
  margin-bottom: 10em;
}
.adimage {
  background-size: cover;
  max-height: auto;
  width: 80%;
}
p {
  font-size: larger;
}

/*general page text*/
.pagetext {
  padding-left: 5%;
  margin-top: 2em;
  margin-bottom: 10em;
}

/*contact*/
.elink {
  color: #c46c2a;
}
.formtext {
  font-size: medium;
}
.rexperttext {
  color: #c46c2a;
  font-size: x-large;
  font-family: "Crimson Text", serif;
  padding-left: 5%;
  margin-top: 2em;

  text-decoration: underline;
}
.rexperttext2 {
  color: #c46c2a;
  font-size: x-large;
  font-family: "Crimson Text", serif;
  padding-left: 5%;
  margin-top: 2em;
  text-decoration: underline;
}
.normaltext {
  font-size: large;

  padding-left: 5%;
  padding-right: 5%;
}
.videotext {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2em;
  margin-bottom: 20em;
}

.headerfont {
  color: #c46c2a;
  font-size: x-large;
  font-family: "Crimson Text", serif;
  text-decoration: underline;
  margin-top: 2em;
  padding-left: 5%;
}
.serviceheadings {
  color: #c46c2a;
  font-size: larges;
  font-family: "Crimson Text", serif;
  padding-left: 5%;
}
.servicetext {
  padding-left: 5%;
  padding-right: 5%;
  font-size: medium;
}
