body {
  background-color: #e2d8c9;
}

.logo {
  width: 2em;
  height: 2em;
}
.image-header {
  background-size: cover;
  max-height: auto;

  width: 100%;
  background-size: 100% 100%;

  background-repeat: no-repeat;
}
.image-footer {
  background-size: cover;
  max-height: auto;
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
}
.footer-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: small;
}

/* Home page css properties */
.vertical {
  border-left: 10px solid #c46c2a;
  height: 100px;
  position: absolute;
  left: 5%;
  margin-left: -3px;
  padding-left: 10px;
  font-family: "Nunito", sans-serif;
}

.verticalText {
  padding-left: 1px;
  font-family: "Nunito", sans-serif;
}
